.color{
    color: white
}
.display{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}
.nav{
    width: 100%;
}
.titulo{
    text-align: center;
    width: 100%;
}